Olá, {{ user.first_name|default:"Participante" }}!

Recebemos um pedido de redefinição de senha para a sua conta na plataforma Evolução Libras.

Para escolher uma nova senha de acesso, clique no link seguro abaixo:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Lembrete: o link acima expira por motivos de segurança. Caso não consiga utilizá-lo a tempo, será necessário solicitar um novo na página de login.

Se você não solicitou essa alteração ou acredita que foi um engano, por favor, ignore este e-mail. Nenhuma alteração será feita na sua conta.

Atenciosamente,
Equipe Evolução Libras
Projeto de Pesquisa - Universidade Federal do Tocantins (UFT)
